@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Poppins:wght@400;500;600;700;800&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

:root {
  --clr-accent-500: #cfddf3;
  --clr-accent-100: #f5fbff;
  --clr-primary-500: #ea1313;
  --clr-secondary-500: #50c878;
  --ff-primary: "Roboto", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: "Cormorant", serif;
}

body {
  overflow-x: hidden !important;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
/* NavBar */

.amenities-section {
  background-color: var(--clr-primary-500);
  background-image: url("./assets/images/amenities-bg.jpg");
  background-position: center;
  background-size: cover;
}

.testimonials-section {
  background-color: var(--clr-secondary-500);
  background-image: url("./assets/images/testimonial-bg.svg");
  background-position: center;
  background-size: cover;
}

.contact-section .contact-bg {
  background-color: var(--clr-secondary-500);
  background-image: url("./assets/images/rose_villas_2.jpg");
  background-position: top;
  background-size: cover;
  position: relative;
  isolation: isolate;
}
.contact-section .contact-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #00000070;
  background-image: linear-gradient(#38834d, #3a3a3a);
  opacity: 70%;
}

/* accordion */
.accordion-wrapper {
  /* border-radius: 8px; */
  overflow: hidden;
  /* box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); */
  max-width: 700px;
  margin: 0 auto;
}
.accordion {
  width: 100%;
  color: white;
  overflow: hidden;
  margin-bottom: 16px;
}
.accordion-wrapper .accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion-label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background: var(--clr-secondary-500);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.accordion-label:hover {
  background: #08cc49;
}
.accordion-label::after {
  content: "\276F";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordion-content {
  max-height: 0;
  padding: 0 16px;
  color: #000;
  background: rgb(241, 245, 249);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: inset 0px 0px 6px 0px #636363;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.accordion-content p {
  margin: 0;
  color: #000;
  font-size: 14px;
}
.accordion-wrapper .accordion input:checked + .accordion-label {
  background: white;
  color: var(--clr-primary-500);
  border: 2px solid var(--clr-primary-500);
}
.accordion-wrapper .accordion input:checked + .accordion-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion-wrapper .accordion input:checked ~ .accordion-content {
  max-height: 100vh;
  padding: 16px;
}

@media (min-width: 768px) {
  .accordion-label {
    font-size: 20px;
  }
  .accordion-content p {
    font-size: 18px;
  }
}

.about-contact {
  background-color: var(--clr-secondary-500);
  background-image: url("./assets/images/about3.jpg");
  background-position: center;
  background-size: cover;
}
.faq-contact {
  background-color: var(--clr-secondary-500);
  background-image: url("./assets/images/faq/faq2.png");
  background-position: center;
  background-size: cover;
}

.gallery h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

.gallery p {
  font-size: clamp(1em, 2.5vw, 2em);
  line-height: 1.4;
}

.gallery {
  display: flex;
  /* outline: 1px solid red; */
}

.left {
  width: 50%;
}

.right {
  height: 100vh;
  /* outline:1px solid purple; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopContent {
  margin: auto;
  width: 80%;
}

.desktopContentSection {
  min-height: 100vh;
  /* outline:1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.desktopPhotos {
  width: clamp(250px, 40vw, 450px);
  height: clamp(250px, 40vw, 450px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
}

.desktopPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
}

.red {
  background: rgb(255, 224, 240);
  box-shadow: 0px 15px 50px -12px rgb(255, 224, 240);
}

.green {
  background: rgb(255, 224, 224);
  box-shadow: 0px 15px 50px -12px rgb(255, 234, 224);
}

.pink {
  background: rgb(255, 233, 224);
  box-shadow: 0px 15px 50px -12px rgb(224, 255, 239);
}
.blue {
  background: rgb(255, 242, 224);
  box-shadow: 0px 15px 50px -12px rgb(211, 214, 240);
}
.yellow {
  background: rgb(247, 255, 224);
  box-shadow: 0px 15px 50px -12px rgb(224, 240, 255);
}
.purple {
  background: rgb(224, 246, 255);
  box-shadow: 0px 15px 50px -12px rgb(224, 255, 234);
}
.white {
  background: rgb(224, 231, 255);
  box-shadow: 0px 15px 50px -12px rgb(255, 250, 224);
}

/* small screen / mobile layout */
.mobileContent {
  display: none;
  width: 80vw;
}

.mobilePhoto {
  width: 80vw;
  height: 50vw;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  border-radius: 6vw;
  overflow: hidden;
}

/* defines styles for screens up to 599px wide */
@media screen and (max-width: 599px) {
  .left {
    display: none;
  }

  .right {
    height: auto;
    width: 100%;
    align-items: center;
  }

  .desktopPhotos {
    display: none;
  }

  .mobileContent {
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #00220b;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border: 1px solid white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #15bb39;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ffffff;
  color: #000;
}

/* Style the tab content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}

.tabcontent#ImagesGallery {
  display: block;
}

.scroller {
  max-width: 1400px;
  max-height: 700px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* preloader */

#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background: white;
  z-index: 99999999;
}

.spotlight-bg {
  background-color: var(--clr-primary-500);
  background-image: url("./assets/images/bgred2.jpg");
  background-position: center;
  background-size: cover;
  /* border-radius: 0.2em; */
  color: white;
  text-shadow: 0px 2px #000;
}
.project-amenities-bg {
  background-color: var(--clr-primary-500);
  background-image: url("./assets/images/bgred3.jpg");
  background-position: center;
  background-size: cover;
  /* border-radius: 0.2em; */
}
.bggreenproject {
  background-color: var(--clr-secondary-500);
  /* background-image: url("./assets/images/bggreen4.jpg"); */
  background-image: linear-gradient(
    to right,
    rgb(187, 247, 208),
    rgb(74, 222, 128),
    rgb(34, 197, 94)
  );
  background-position: center;
  background-size: cover;
  /* border-radius: 0.2em; */
}

.certificate-slider {
  width: 100%;
  height: 400px;
  position: relative;
  isolation: isolate;
}
.certificate-slider li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.certificate-slider li.active {
  opacity: 1;
}

@media screen and (min-width: 599px) {
  .certificate-slider {
    width: 500px;
  }
}

@media screen and (min-width: 800px) {
  .certificate-slider {
    width: 600px;
  }
}
